<!DOCTYPE html>
  <html>
    <head	>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://		maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
     

      <title>New Habit</title>
      <style>
      
        /* Nav Bar */
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color:rgba(182,221,255,0.75);
          position: -webkit-sticky; /* Safari */
          position: sticky;
          top: 0;
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        li a:hover {
          background-color:rgba(182,221,255,0.75);
        }

        .active {
          background-color: rgba(182,221,255,0.75);
        }

        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          /* width: 50%; */
        }

        .btn-info{
          font-family: Raleway-SemiBold;
          font-size: 13px;
          color: rgba(182,221,255,0.75);
          letter-spacing: 1px;
          line-height: 15px;
          border: 2px solid rgba(182,221,255,0.75);;
          border-radius: 40px;
          background: transparent;
          transition: all 0.3s ease 0s;
        }

        .btn-info:hover {
          color: #FFF;
          background: rgba(182,221,255,0.75);
          border: 2px solid rgba(182,221,255,0.75);
        }

        .card-text{
          margin-left: 10px;
          margin-right: 10px;
        }
        .card-title{
          margin-left: 10px;
          margin-right: 10px;
        }

        .responsive {
          width: 100%;
          height: auto;
        }

    
    .main {
        background-color: #FFFFFF;
        width: 400px;
        height: 400px;
        margin: 1em auto;
        border-radius: 1.5em;
        /* box-shadow: 0px 11px 25px 2px rgba(0, 0, 0, 0.14); */
    }
    
    .sign {
        padding-top: 40px;
        color: rgb(134, 178, 218);
        font-weight: bold;
        font-size: 23px;
    }
    
    .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 40px;
    }
    
    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
   
    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    
    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: rgba(182,221,255,0.75);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color:rgba(182,221,255,0.75);
        padding-top: 15px;
    }
    
    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color:rgba(182,221,255,0.75);
        text-decoration: none
    }
       
      </style>
      
      

<script>
  function toggleText() {
  var text = document.getElementById("demo");
  if (text.style.display === "none") {
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
  }
function openModal() {
    /* Note that you do NOT have to do a document.getElementById anywhere in this exercise. Use the elements below */        
    var myInput = document.getElementById("psw");
    var confirmMyInput = document.getElementById("cpsw");
	var letter = document.getElementById("letter");
	var capital = document.getElementById("capital");
	var number = document.getElementById("number");
	var length = document.getElementById("length");    
    var match = document.getElementById("match");


	// When the user starts to type something inside the password field
	myInput.onkeyup = function() {
       console.log('helllooo')
        
        /* TODO: Question 1.1: Starts here */
        var lowerCaseLetters = /[a-z]/g; // : Fill in the regular experssion for lowerCaseLetters
        var upperCaseLetters = /[A-Z]/g; // : Fill in the regular experssion for upperCaseLetters
        var numbers = /[0-9]/g; // : Fill in the regular experssion for digits
        var minLength = 8; // : Change the minimum length to what what it needs to be in the question 
        /* TODO: Question 1.1: Ends here */
        

        /* TODO: Question 1.2:  Starts here */
         /*
         - So first read up on classList.  
         - Perform a console.log(letter.classList) and check the array that you see. By default the first time, there should be just 1 element and it should be
         "invalid". "invalid" is a class that is present in login.css. 
         - Below, there are a bunch of if blocks and else blocks.
         - Each if block means that some successful condition is satisfied for our password conditon. So the red cross need to be converted to a check mark.
         - Each else block stands for a failed condition, so the green check mark needs to be a red cross again.
         - All that you need to do is, in each of the blocks, fill in the correct classNames for the remove and the add methods.
         */

        // Validate lowercase letters
        if(myInput.value.match(lowerCaseLetters)) {             
            letter.classList.remove("invalid"); 
            letter.classList.add("valid"); 
        } else {
            letter.classList.remove("valid"); 
            letter.classList.add("invalid"); 
        }

        // Validate capital letters        
        if(myInput.value.match(upperCaseLetters)) { 
            capital.classList.remove("invalid"); 
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers        
        if(myInput.value.match(numbers)) { 
            number.classList.remove("invalid"); 
            number.classList.add("valid"); 
        } else {
            number.classList.remove("valid"); 
            number.classList.add("invalid");
        }

        // Validate length
        if(myInput.value.length >= minLength) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
        /* TODO: Question 1.2:  Ends here */
    }
    /* TODO Question 1.3: Starts here */
    confirmMyInput.onkeyup = function() {
                // Validate password and confirmPassword
                var passEqualsConfPass = (myInput.value == confirmMyInput.value); // TODO: Change this to the condition that needs to be checked so that the text entered in password equals the text in confirm password
                if(passEqualsConfPass) { 
                    match.classList.remove("invalid"); 
                    match.classList.add("valid"); 
                } else {
                    match.classList.remove("valid"); 
                    match.classList.add("invalid"); 
                }        
    /* TODO Question 1.3: Starts here */

                // Disable or Enable the button based on the elements in classList
                enableButton(letter, capital, number, length, match);
    }
}


function enableButton(letter, capital, number, length, match) {
    // TODO: Clear this function for students to implement    
    var button = document.getElementById('my_submit_button');
    var condition = (letter.classList == 'valid' && capital.classList == 'valid' && number.classList == 'valid' && length.classList == 'valid' && match.classList == 'valid'); // TODO: Replace false with the correct condition
    if(condition) {       
            button.disabled = false;
        }
    else{
        button.disabled = true;
    }        
    }    

</script>
<ul>
        <li><a class="active" href="/"> Home </a></li>
        <li><a href="/AboutUs">About Us</a></li>
        <li><a href="#myModal" data-toggle="modal" onclick="openModal()">Login</a></li>
        <li><a href="#myModal2"  data-toggle="modal" onclick="openModal()">Sign Up</a></li>
	<li><a href="/view"> Sign Out </a> </li>
</ul>
    </head>
    <body style="font-family: century gothic; font-size: 20; color: rgb(102, 145, 185); ">
      <!-- <h1>View Streaks and Calendar</h1> -->
      <% 	
		if(!user || user.length == 0){  %>
		
		<p  align = "center"> Cannot Access Data. Please Login </p>
	    <%  }
		if(user){
		if(user.length != 0){ %>
		<p align = "center"> Welcome to Happy Habits, <%- user[0].name %> </p>
		<% }
} %>
      <div class="center">
        <img id="logo-main" src="../views/img/daily_checkIn.jpg" width="450" height= "270" alt="Logo Thing main logo" class="center" style="margin-top: 25px;">

            <p class = "sign" align="center" id="date" style="font-family: century gothic"> </p>
                <script>
                var d = new Date();
                document.getElementById("date").innerHTML = d.toDateString();
                </script>
            <p class="sign" align="center" style="font-family: century gothic">Here are Your Streaks  </p>



            
		
            <div class="container-fluid" align = "center">
              <div class="column" style="margin-left: 20px;">
		
		<%
		var name = "Habit 1";
	       var name1 = "Habit 2";
	       var name2 = "Habit 3";
	       var streak = 0;
	       var streak1 = 0;
	       var streak2 = 0;
	       if(data){
		var safe = '';
		var count = 0;
		data.forEach(function(item){
			
			safe += '<form action= "/view/update" method = "post"> <p> Streak: ' + item.streak + ' days</p> <p class = "h3">' + item.name + ' </p> <input type= "hidden" name="item_id" value="' + item.id + '" /> <input type= "hidden" name="item_name" value="' + item.name + '" /> <button class="button button5" type="submit" name="habit" value= "'+ item.streak +'" >Check in</button> <button class="button button5" type="submit" name="habit" value= "'+ 0 +'" >Start Over</button> <br> </form>';
		count = count + 1;
		}); %>
		<%- safe %>
	       <% } %>
	<% if(user){
		if(user.length != 0){ %>
             <form action= "/view/addHabit" method = "post">
		<br> 
		<br>
		<input type="text" name="itemName" id="itemName" placeholder="Enter Habit Name">
		<button type="submit" name="Id" class="button button5" value="<%- user[0].id %>" align="center">Add Habit</button>
		</form>
	<% }	
		}
	 %>
            </div>
          </div>
            

        
    </body>
	
                <!-- HTML CODE FOR LOGIN -->

                <div id="myModal" class="modal fade">
                  <div class="modal-dialog modal-login">
                    <div class="modal-content">
                      <div class="main">
                        <p class="sign" align="center">Login</p>
                        <form class="form1" action="/view/checkin" method="post">
                          <input class="un " type="email" id="email" name = "email" type="text" align="center" placeholder="email">
                          <input class="pass" id="password" name = "password" type="password" align="center" placeholder="Password">
                          <button type = "submit" class="btn btn-primary btn-block" align="center">Sign in</button>
                          <p class="forgot" align="center"><a href="#">Forgot Password?</p> 
			</form>
      
                        </div>
                    </div>
                  </div>
                </div>
                <br /><br /><br />
            
                <!-- HTML CODE FOR SIGN IN -->
            
                <div id="myModal2" class="modal fade">
                  <div class="modal-dialog modal-login">
                    <div class="modal-content">
                      <p class="sign" align="center">Sign Up</p>
                      <div class="modal-body">
			<form action="/view/signup" method="post">
			<input type="text" id="name" class="un" name="firstName" placeholder="Name"
                            required="required">
                  
                          <input type="email" id="Email" class="un" name="Email" placeholder="E-Mail"
                            required="required">
                          <input id="psw" id="Password" type="password" class="pass" name="Password" placeholder="Password"
                            required="required">
                          <input id="cpsw" id="pass"type="password" class="pass" name="confirm password"
                            placeholder="Confirm Password" required="required">
                          <button id="my_submit_button" class="submit" 
                            onClick="onClickFunction()">Sign Up</button>
			</form>

                      </div>
                    </div>
                  </div>
                </div>
                <br /><br /><br />


    </html>

